/*mixin*/
@mixin hide-text {
    text-indent: -9999px;
    overflow: hidden;
}

.foo{
    @include hide-text;
}

.bar{
    @include hide-text;
}

.baz{
    @include hide-text;
}

/*extend*/
%hide-text1{
    text-indent: -9999px;
    overflow: hidden;
}

/*mixin*/
.foo1{
    @extend %hide-text1;
}

.bar1{
    @extend %hide-text1;
}

.baz1{
    @extend %hide-text1;
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

.foo2 {
    @include border-radius(5px);
}

.bar2 {
    @include border-radius(7px);
}

.baz2 {
    @include border-radius(9px);
}
